* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.content {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 5px;
	
}

.bottom {
	position: fixed;
	bottom:0;
	text-align: center;
  align:center;
  margin:0 auto;
	width: 100%;

}

.top {
  position: fixed;
  top: 0;
  color: #f1f1f1;
  width: 33%;
  padding: 6px;
  text-align: center;
  align:center;
  margin:0 auto;
  left:36%;
  font-size:1 px
	
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #04AA6D;
  color: white;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
 

 
}