<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title>Responsive Navbar | CodingNepal</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css" media="all" />
</head>
<body>
<nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo"><img src="titolo.png" title="Administro" /></label>
      <ul>
        <li><a class="active" href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="contactus.html">Contact</a></li>
        <li><a href="login.html">Login</a></li>
      </ul>
    </nav>
	
	
	
    <section>
	
	
	<div class="text">
	<div><h3> Our professional team is ready to work for your business, they will take care of every detail and guarantee you an excellent result! We will follow your company by carrying out management control, working with you by sending you constant feedback on progress of your company. Our servers will be used by your company. You will work directly on our site, in a comfortable, beautiful and effective way. In order to always have updated information to make you make the best strategic decisions.You will be able to view the trend through graphs, images, diagrams and much more! Call us and discover all the potential of our company!</h3>
    </div></div>
	
	
	
	<div style="position:bottom"><i><h3>ADMINISTRO -  Modena - cel +39 3317037549 Melloni Marco</i></h3></div>
	</section>
</body>
</html>