<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css" media="all" />

</head>
<body>

<video autoplay muted loop id="myVideo">
  <source src="img/video.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video>
<div class="top">
<div><img src="img/titolo.png" title="Administro" /></div>
<i color="#f4f4f4"> A revolutionary way to manage a business </i>
</div>
<div class="bottom">
<a href="homepage.html"><div><img src="static/img/logo.png" title="Run" height=440px width=520px/></div></a>
</div>


</body>
</html>